<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="TopSolid.Cad.Design.Automating" version="7.19.400.106" targetFramework="net48" />
  <package id="TopSolid.Cad.Drafting.Automating" version="7.19.400.106" targetFramework="net48" />
  <package id="TopSolid.Cad.Electrode.Automating" version="7.19.400.106" targetFramework="net48" />
  <package id="TopSolid.Cam.NC.Kernel.Automating" version="7.19.400.106" targetFramework="net48" />
  <package id="TopSolid.Kernel.Automating" version="7.19.400.106" targetFramework="net48" />
  <package id="TopSolid.Pdm.Explorer.Automating" version="7.19.400.106" targetFramework="net48" />
</packages>