<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="OutilsTs" version="1.0.1" targetFramework="net48" />
  <package id="PresentationFramework" version="4.6.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="9.0.9" targetFramework="net48" />
  <package id="TopSolid.Cad.Design.Automating" version="7.19.400.106" targetFramework="net48" />
  <package id="TopSolid.Cad.Drafting.Automating" version="7.19.400.106" targetFramework="net48" />
  <package id="TopSolid.Cad.Electrode.Automating" version="7.19.400.106" targetFramework="net48" />
  <package id="TopSolid.Cam.NC.Kernel.Automating" version="7.19.400.106" targetFramework="net48" />
  <package id="TopSolid.Kernel.Automating" version="7.19.400.106" targetFramework="net48" />
</packages>